@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
}

.hide {
  display: none;
  /* max-height: 0 !important; */
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
}

.highload2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #349748;
  border-radius: 5px;
}
.highload2:after {
  content: "";
  position: absolute;
  display: none;
  border-radius: 5px;
  width: 14px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/filters/plan/checkbox.svg);
}
.check-highload:checked ~ .highload2 {
  background-color: #6cc165;
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.check-highload:checked ~ .highload2:after {
  display: block;
}

/* TODO классы для кнопок переключения старниц*/
.activeBtnPage {
}

/*header*/

.header {
  padding: 20px 0 20px;
  background: #f8f8f8;
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.15);
}

.header__inner {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 106px;
  font-size: 22px;
  line-height: 26px;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 100px;
}
.menu__list-item a {
  color: #222222;
  transition: all 0.2s;
}
.menu__list-item a:hover,
.menu__list-item a:focus {
  opacity: 0.7;
}

.user-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-nav__link {
  color: #222222;
  border-radius: 10px;
  transition: all 0.2s;
}
.user-nav__link:hover,
.user-nav__link:focus {
  opacity: 0.7;
}

.user-nav__link--green {
  font-size: 20px;
  line-height: 23px;
  color: #f8f8f8;
  padding: 8px 37px 8px 38px;
  background: linear-gradient(180deg, #5ab752 0%, #249f53 100%);
}

.user-nav__link--img {
  position: relative;
  margin-left: 89px;
  padding: 20px 59px 19px 74px;
  background: #fff;
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.15);
}
.user-nav__link--img::before {
  content: "";
  background-image: url(../img/header/avatar.svg);
  width: 35px;
  height: 35px;
  position: absolute;
  top: 13px;
  left: 10px;
}
.user-nav__link--img::after {
  content: "";
  background-image: url(../img/header/exit.svg);
  width: 19px;
  height: 19px;
  position: absolute;
  top: 21px;
  right: 10px;
}

/*data-farm*/

.data-farm {
  padding-top: 30px;
  /* padding-right: 120px; */
}

.data-farm__inner {
  max-width: 1020px;
}

/*top*/

.data-farm__top {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.data-farm__top-link {
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  padding: 22px 10px;
  width: 235px;
  text-align: center;
  background: linear-gradient(180deg, #bebebe 0%, #9d9d9d 100%);
}
.active-btn {
  background: linear-gradient(180deg, #5ab752 0%, #249f53 100%);
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.15);
}
.data-farm__top-link + .data-farm__top-link {
  margin-left: 60px;
}

.data-farm__top-link--add {
  margin-left: 60px;
  cursor: pointer;
  background: #6d6d6d;
  box-shadow: inset 0px 4px 10px rgb(0 0 0 / 15%);
  border-radius: 50%;
  line-height: 0;
  padding: 14px;
}

.data-farm__top-sort {
  margin-left: 99px;
  display: flex;
  align-items: center;
}

.dropdown {
  flex-basis: 205px;
  margin-left: 10px;
  background-color: #6d6d6d;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

.dropdown-toggle {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  padding: 12px 30px;
  text-align: center;
  display: block;
}
.dropdown-toggle::before {
  content: "";
  background-image: url(../img/data-farm/top/arrow.png);
  width: 14px;
  height: 8px;
  position: absolute;
  /* top: 18px;
  left: 10px; */
  top: 50%;
  left: 12px;
  transform: translate(-50%, -50%);
}

.dropdown-menu {
  background-color: #6d6d6d;
  border-radius: 10px;
  min-width: 200px;
  z-index: 1000;
  position: absolute;
  top: 50px;
  left: 0;
  transition: all 0.5s ease-out;
}

.dropdown-item {
  margin: 6px;
  transition: all 0.1s;
}
.dropdown-item:hover {
  opacity: 0.7;
}

.dropdown-item a {
  color: #fff;
}

/*bottom*/

.data-farm__bottom {
}

/*table*/

.data-farm__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding-bottom: 45px;
}

.data-farm__tr-head {
}
.data-farm__tr-head th {
  padding-bottom: 9px;
}

.data-farm__th--first {
  text-align: left;
}

.data-farm__th--innner {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.data-farm__th--last {
  text-align: right;
}

.data-farm__tr-body {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.data-farm__tr-body td {
  padding-top: 17px;
  padding-bottom: 17px;
}

.data-farm__td--first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
  text-align: left;
  font-weight: 700;
}
.data-farm__td--first label {
  position: relative;
  cursor: pointer;
}

.data-farm__td--inner {
  text-align: center;
}

.data-farm__td--last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 20px;
  text-align: right;
}

.data-farm__table .check-highload {
}
.data-farm__table .highload2 {
  top: -8px;
  width: 36px;
  height: 36px;
  background-image: url(../img/data-farm/table/checkbox-rabbit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6d6d6d;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.data-farm__table .check-highload:checked ~ .highload2:after {
  display: none;
}
.data-farm__table .check-highload:checked ~ .highload2 {
  box-shadow: none;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-image: url(../img/data-farm/table/checkbox-data-farm.svg);
}
.data-farm__td-text--bold {
  padding-left: 70px;
}

.btnPage {
}

.btnPage-switch {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.btnPage-switch--prev {
  padding: 4px 24px;
  background: #6d6d6d;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #fff;
  margin-right: 28px;
}

.btnPage-switch--num + .btnPage-switch--num {
  margin-left: 24px;
}

.btnPage-switch--next {
  padding: 4px 24px;
  background: #6d6d6d;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #fff;
  margin-left: 28px;
}

.activeBtnPage {
  color: #2b740f;
}

/*filters*/

.filters {
  padding-top: 30px;
}

.filters__inner {
  width: 540px;
}

/*plan*/

.filters__plan {
  background: linear-gradient(180deg, #5ab752 0%, #249f53 100%);
  border-radius: 10px;
  padding: 18px 41px;
  margin-bottom: 20px;
}

.filters__plan-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.filters__plan-title {
  font-weight: 700;
  color: #fff;
}

.filters__plan-date {
  align-items: center;
  font-weight: 700;
  color: #fff;
}

.datepicker-input {
  width: 160px;
  height: 30px;
  background: #297a2a url(../img/filters/plan/calendar.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
}
.datepicker-input::-webkit-datetime-edit-fields-wrapper {
  padding: 8px 44px;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  height: auto;
  opacity: 0;
  cursor: pointer;
}

.filters__plan-list {
  height: 110px;
  overflow: hidden;
  overflow-y: scroll;
}
.filters__plan-list::-webkit-scrollbar {
  width: 5px;
}
.filters__plan-list::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}
.filters__plan-list::-webkit-scrollbar-track {
  background: #247334;
  border-radius: 10px;
}

.filters__plan-item {
  min-height: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: #247334;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 13px;
}
.filters__plan-item .filters__plan-date {
  padding-left: 40px;
}
.filters__plan-item + .filters__plan-item {
  margin-top: 10px;
}
.filters__plan-item label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.check-highload {
  position: absolute;
  display: none;
}

/*settings*/
.filters__settings {
  margin-bottom: 30px;
}

.filters__settings-content {
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.filters__settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters__settings-item > span {
  font-weight: 700;
  flex-basis: 260px;
  padding-right: 25px;
}
.filters__settings-item + .filters__settings-item {
  margin-top: 20px;
}

.dropdown-settings {
  min-width: 260px;
  flex-basis: 260px;
  margin-left: 0;
  background-color: #8a8a8a;
}

.dropdown-menu-settings {
}

.dropdown-item-settings {
}

.dropdown-toggle-settings {
  padding: 7px 30px;
  text-align: center;
  display: block;
}

.filters__settings-buttons {
  display: flex;
}

.filters__settings-btn {
}

.settings-btn {
  border: none;
  width: 125px;
  padding: 8px 10px;
  background-color: #8a8a8a;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.settings-btn + .settings-btn {
  margin-left: 10px;
}

.filters__settings-input::-webkit-outer-spin-button,
.filters__settings-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filters__settings-input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
}

.filters__settings-link--main {
  display: block;
  width: 215px;
  text-align: center;
  margin: 57px auto 0 auto;
  padding: 9px 63px;
  background: linear-gradient(180deg, #5ab752 0%, #249f53 100%);
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.2s;
}
.filters__settings-link--main:hover {
  opacity: 0.7;
}

/*active*/

.filters__active {
  display: flex;
  justify-content: space-between;

  padding-bottom: 100px;
}

.filters__active-item {
}

.filters__active-btn {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 9px 10px;
  width: 235px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
.filters__active-btn:hover {
  opacity: 0.7;
}

.filters__active-item label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.check-highload {
}

.highload2--green {
  background: #c4c4c4;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.filters__active-text {
  padding-left: 30px;
}

.filters__active-btn--blue {
  background: linear-gradient(180deg, #4d7ec7 0%, #3b47b3 100%);
}

.filters__active-btn--red {
  background: linear-gradient(180deg, #c74d4d 0%, #b33b3b 100%);
}

.filters__active-date {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.filters__active-date img {
  padding-right: 12px;
}
#copyDate {
  padding-left: 5px;
}
